<header class="fixed top-0 z-50 w-full border-b border-b-gray-200 border backdrop-blur supports-[backdrop-filter]:bg-white/60 gap-2">
    <!-- normal width navbar -->
    <div class="max-w-7xl mx-auto grid grid-cols-2">
        <div class="mx-0 my-3 text-[25px] tracking-tighter">           
            <a href="home.html" class="font-bold font-sans">
                <i class="fa-solid fa-bullseye"></i>
                <span class="ml-1">tarkizZ</span>
            </a>
        </div>
        <div class="flex space-x-8 justify-end mr-28 w-full font-medium my-4">
            <a href="home.html" class="font-normal text-gray-500 hover:text-black">Home</a>
            <a href="task-manager.html" class="font-normal text-gray-500 hover:text-black">Task Manager</a>
            <a href="focus-mode.html" class="font-normal text-gray-500 hover:text-black"> Focus Mode</a>
            <a href="about.html" class="font-normal text-gray-500 hover:text-black">About</a>
            <a href="#" class="bg-black text-stone-50 rounded-lg px-4 py-1.5 -mt-2 hover:bg-gray-800 tracking-tighter">Get Started</a>
        </div>
        <!-- menu icon for the responsive navbar -->
        <div class="col-span-2 flex justify-end w-full absolute top-4 right-4">
            <i class="fa-solid fa-bars text-2xl flex justify-center fa-sr-only mr-5"></i>
            <i class="fa-solid fa-x text-xl flex justify-center fa-sr-only mr-5"></i>
        </div>
    </div>
    <!-- smaller width navbar -->
    <div class="grid hidden">
        <a href="#" class="font-normal text-gray-500 hover:text-black">Home</a>
        <a href="#" class="font-normal text-gray-500 hover:text-black">Task Manager</a>
        <a href="#" class="font-normal text-gray-500 hover:text-black"> Focus Mode</a>
        <a href="#" class="font-normal text-gray-500 hover:text-black">About</a>
        <a href="#" class="bg-black text-stone-50 rounded-lg px-4 py-1 mt-2 hover:bg-gray-800 text-center">Get Started</a>
    </div>
</header>